<div class="slide-wrapper" [class.show-settings]="showSettings">
    <div class="slide content-panel">
        <div class="content">
            <img class="logo" src="thrashbuddy-logo-sharp.jpg" alt="ThrashBuddy logo" />
            <div class="parent-container">
                <div class="control-panel">
                    <h1>ThrashBuddy</h1>
                    <div class="centered-layout">
                        <img src="thrash-button.png" class="power-button" alt="Power button" />
                        <div class="button-circle">
                            <button class="circle-button" style="--index: 0" (click)="toggleSettings()">
                                <mat-icon>settings</mat-icon>
                            </button>
                            <button class="circle-button" style="--index: 1" (click)="openMonitoring()">
                                <mat-icon>visibility</mat-icon>
                            </button>
                            <button class="circle-button" style="--index: 2" (click)="openData()">
                                <mat-icon>assessment</mat-icon>
                            </button>
                            <button class="circle-button" style="--index: 3" (click)="openFiles()">
                                <mat-icon>folder</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="slide settings-panel">
        <div class="settings-container">
            <h2>Settings</h2>
            <div class="row-container">
                <label for="cpuComboBox">CPU:</label>
                <mat-select [(value)]="selectedCpu" (selectionChange)="onCpuChange()">
                    @for (cpu of cpuOptions; track cpu) {
                        <mat-option [value]="cpu">{{ cpu }}</mat-option>
                    }
                </mat-select>
            </div>

            <div class="row-container">
                <label for="memoryComboBox">Memory:</label>
                <mat-select [(value)]="selectedMemory">
                    @for (memory of memoryOptions; track memory) {
                        <mat-option [value]="memory">{{ memory }}</mat-option>
                    }
                </mat-select>
            </div>

            <div class="row-container">
                <label># Agents:</label>
                <mat-slider min="1" max="25" step="1" showTickMarks discrete class="flex-component">
                    <input matSliderThumb [(ngModel)]="loadAgents" />
                </mat-slider>
                <mat-icon matTooltip="Defines the number of started agents that create load in parallel.">
                    info
                </mat-icon>
            </div>

            <div class="row-container">
                <mat-form-field class="flex-component">
                    <mat-label>Environment Variables</mat-label>
                    <textarea matInput [(ngModel)]="envVars"></textarea>
                </mat-form-field>
            </div>

            <div class="row-container">
                @if (files().length > 0) {
                    <div class="file-section">
                        <div class="uploaded-files-header">
                            <h3>Uploaded Files</h3>
                            <mat-icon matTooltip="A 'test.js' file is required as entrypoint to k6 runs.">
                                info
                            </mat-icon>
                        </div>
                        <table></table>
                    </div>
                }
            </div>

            <div class="row-container">
                <app-dropzone></app-dropzone>
            </div>

            <button class="round-button" (click)="toggleSettings()">
                <mat-icon>arrow_back</mat-icon>
            </button>
        </div>
    </div>

    <router-outlet />
</div>
