<div class="slide-wrapper" [ngClass]="{ 'show-settings': showSettings }">
    <div class="slide content-panel">
        <div class="control-panel">
            <h1 class="header">ThrashBuddy</h1>
            <span style="color: whitesmoke;">Status: {{ testStatus()?.status ?? "INIT" }} [ {{getChar()}} ]</span>
            <div class="centered-layout">
                <div style="height: 20px;"></div>
                <button (click)="runOrStopTest()" style="background-color: #00000000; border-style: none;"
                    [disabled]="!isIdle() && !isStopping() && !isRunning()">
                    <div class="glow-wrapper">
                        <img src="thrash-button-white.png" alt="Power button" class="power-button" [ngClass]="{
                            'glow-image-running': isRunning() && !isDisabled(),
                            'glow-image-stopping': isStopping() && !isDisabled(),
                            'power-button-disabled': isDisabled()
                        }" />
                    </div>
                </button>

                <div class="button-circle">
                    <button class="circle-button" style="--index: 0" (click)="toggleSettings()" matTooltip="Settings">
                        <mat-icon>settings</mat-icon>
                    </button>
                    <button class="circle-button" style="--index: 1" (click)="openMonitoring()" matTooltip="Monitoring">
                        <mat-icon>visibility</mat-icon>
                    </button>
                    <button class="circle-button" style="--index: 3" (click)="openFiles()" matTooltip="Files">
                        <mat-icon>folder</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="slide settings-panel">
        <div style="background-color: whitesmoke; padding: 20px; padding-left: 30px; border: 1px solid #111;">
            <table style="width: 100%;">
                <tr>
                    <td style=" width: 50%">
                        <h1>Settings</h1>
                    </td>
                    <td style="width: 50px">
                    </td>
                    <td style="width: 50%">
                        <h1>Files</h1>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="settings-container-col">
                            <div class="row-container">
                                <label for="cpuComboBox">CPU:</label>
                                <mat-select [(value)]="selectedCpu" (selectionChange)="onCpuChange()">
                                    @for (cpu of cpuOptions; track cpu) {
                                    <mat-option [value]="cpu">{{ cpu }}</mat-option>
                                    }
                                </mat-select>
                            </div>

                            <div class="row-container">
                                <label for="memoryComboBox">Memory:</label>
                                <mat-select [(value)]="selectedMemory" class="select">
                                    @for (memory of memoryOptions; track memory) {
                                    <mat-option [value]="memory">{{ memory }}</mat-option>
                                    }
                                </mat-select>
                            </div>

                            <div class="row-container">
                                <label># Agents:</label>
                                <mat-slider min="1" max="25" step="1" showTickMarks discrete class="flex-component">
                                    <input matSliderThumb [(ngModel)]="loadAgents" />
                                </mat-slider>
                                <mat-icon
                                    matTooltip="Defines the number of started agents that create load in parallel.">
                                    info
                                </mat-icon>
                            </div>

                            <div class="row-container">
                                <mat-form-field class="flex-component">
                                    <mat-label>Environment Variables</mat-label>
                                    <textarea matInput [(ngModel)]="envVars" style="height: 250px;"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </td>
                    <td></td>
                    <td class="settings-table-container">
                        <div class="settings-container-col">
                            <div class="row-container">
                                <div class="file-section">
                                    <div class="uploaded-files-header">
                                        <h3>Uploaded Files</h3>
                                        <mat-icon matTooltip="A 'test.js' file is required as entrypoint to k6 runs.">
                                            info
                                        </mat-icon>
                                    </div>
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Filename</th>
                                                <th>Last Modified</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <ng-container *ngIf="files().length > 0; else noFiles">
                                                @for (file of files(); track file) {
                                                <tr>
                                                    <td>{{ file.filename }}</td>
                                                    <td>{{ file.lastModified | date:'short' }}</td>
                                                    <td>
                                                        <button mat-icon-button color="warn"
                                                            (click)="deleteFile(file.filename)">
                                                            <mat-icon>delete</mat-icon>
                                                        </button>
                                                    </td>
                                                </tr>
                                                }
                                            </ng-container>
                                            <ng-template #noFiles>
                                                <tr>
                                                    <td>-</td>
                                                    <td>-</td>
                                                    <td>-</td>
                                                </tr>
                                            </ng-template>
                                        </tbody>

                                    </table>
                                </div>
                            </div>

                            <div class="row-container">
                                <app-dropzone></app-dropzone>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <button class="round-button" (click)="toggleSettings()">
                <mat-icon>arrow_back</mat-icon>
            </button>
        </div>
    </div>

    <router-outlet />
</div>