/* Angular Material Theme */
@import '@angular/material/prebuilt-themes/azure-blue.css';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #e0e0e0;
  background-image: url('/background.png');
  background-repeat: repeat;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
