.content {
  height: 100%;
  width: 100%;
  transition: transform 0.5s ease-in-out;
  animation: moveUp 1s ease-in-out 3s forwards;
}

@keyframes moveUp {
  to {
    transform: translateY(-80%);
  }
}

.parent-container {
  display: flex;
  justify-content: center;
  background-color: transparent;
}

.control-panel {
  width: 500px;
  height: auto;
  z-index: 15;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  margin: 25px;
  padding: 25px;
}

.settings {
  width: 91%;
  border: 1px solid black;
  margin: 10px;
  margin-left: 8px;
  margin-bottom: 0;
  padding: 20px;
  padding-bottom: 0;
}

.row-container {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.row-container button {
  flex: 1 1 0;             /* makes buttons evenly spaced */
  width: 100%;             /* ensure buttons take full flex width */
  border-radius: 0 !important;
  white-space: nowrap;     /* ensures button text/icon stay in a single line */
  overflow: hidden;        /* prevents overflow issues */
  text-overflow: ellipsis; /* shows ellipsis (...) if content overflows */
}


h1 {
  font-family: 'Impact', sans-serif;
  font-size: 94px;
  color: black;
  text-shadow: 3px 3px 5px rgba(255, 255, 255, 0.8);
  margin: 0;
  padding: 0;
}

.logo {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.flex-component {
  flex-grow: 1; 
}

.file-section {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #f9f9f9;
}

.uploaded-files-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Ensures it spans the full width */
}

.file-section h3 {
  margin: 0 0 10px;
}

.file-section table {
  width: 100%;
  border-collapse: collapse;
}

.file-section th, .file-section td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.file-section th {
  text-align: left;
}

.file-section button {
  cursor: pointer;
}

app-dropzone {
  width: 100%;
}
